# Virtual environment
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo

# Model files
*.task
*.pkl
*.h5
*.model

# VS Code
.vscode/

# Distribution / packaging
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
